version: '3.9'

volumes:
  postgres_data:

services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    volumes:
      - ./alembic:/app/alembic
    env_file: .env
    depends_on:
      - postgres_db
    ports:
      - '8000:8000'


  postgres_db:
    image: postgres
    restart: always
    volumes:
      - postgres_data://var/lib/postgresql
    env_file: .env
    ports:
      - '5432:5432'
