version: '3.9'

volumes:
  postgres_data:

services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    env_file: .env
    depends_on:
      postgres_db:
        condition: service_healthy
    restart: always
    ports:
      - '8000:8000'


  postgres_db:
    image: postgis/postgis:15-3.4
    restart: always
    volumes:
      - postgres_data://var/lib/postgresql
    env_file: .env
    ports:
      - '5432:5432'
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U ${POSTGRES_USER} -d ${POSTGRES_DB}" ]
      interval: 5s
      timeout: 5s
      retries: 5
      start_period: 2s
